/* =================Google font ========================== */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

/* =================Variables===================== */
:root{
    --DM-sans:'DM Sans', sans-serif;
    --primary-color: #8D448B;
    --secondary-color: #020718;
    --white: #FFFFFF;
    --border-color: #262B39;
    --text-color: #0F2137;
}

/* =================Basic css style ===================== */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: var(--DM-sans);
}

a{
    text-decoration: none;
}
/* =================Reuse css design===================== */



/* =================Header section start================== */



/* =================Client's section start===================*/


/* =================Working section start===================== */

/* =================Footer section start===================== */



/* =================Custom Javascript File===================== */